.info{
    height: 57vh;
    /* overflow: -moz-scrollbars-vertical;  */
    overflow-y: auto;
    overflow-x: hidden;
    width: 425px;
}

.confirm-order{
    background-color: white;
    z-index: 1000;
    width: 425px;
    overflow-x: hidden;
}

aside{
    z-index: 0;
}

.offcanvas{
    /* border-top: 1px black solid; */
    position: fixed;
    top: 6.1rem;
    width: 472px;
    z-index: 99;
    height: 85vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.offcanvas-backdrop{
    background-color: transparent !important;
}

form{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

form input{
    height: 3rem;
    border-radius: 3px;
    border: var(--bs-border-color-translucent) solid 1px;
}

form input:focus{
    border-style: 0 none !important;
    box-shadow: 0 0 !important;
    outline: 0 !important;
}

h5{
    color: rgba(0, 0, 0, 0.8);
}

a{
    text-decoration: none;
    color: var(--primary-bg-color);
    font-weight: 500;
}

button{
    background-color: transparent;
    border: none;
    color: var(--primary-bg-color);
}

.coupon{
    height: 50px;
}

.img{
    margin-right: 10px;
}

.removeCoupon{
    margin-left: 8px;
}

.spinner-grow{
    width: 18px;
    height: 18px;
    margin-left: 9px;
    margin-right: 9px;
}