<aside *ngIf="!empty else cartEmpty">
    <!-- <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
        Link with href
      </a>
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        Button with data-bs-target
      </button> -->
      
      <div class="offcanvas offcanvas-end" [ngClass]="show" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header justify-content-start">
          <h5 id="offcanvasRightLabel"></h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" (click)="close()"></button>
        </div>
        <div class="ordered-items offcanvas-body mb-3 mx-1">
            <div class="info">
                <p>Seu pedido em</p>
                  <h5>{{company}}</h5>
                  <a href="">Ver Cardápio</a>
                  <div class="items">
                      <table class="table">
                          <tbody>
                              <tr *ngFor="let product of cart">
                                  <td>{{product.qty}}x</td>
                                  <td>{{product.nome}}</td>
                                  <td>{{product.unit_price | currency: 'BRL'}}</td>
                                  <td (click)="updateItem(product.itemId)">Editar</td>
                                  <td (click)="deleteItem(product.itemId)">Excluir</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="coupon row">                
                      <label for="coupon">Cupom de Desconto</label>
                      <input type="text" placeholder="Código do cupom">
                      <button class="btn btn-outline-primary">Adicionar</button>
                  </div>
                  <div class="total row mx-3 mt-4">
                      <div class="d-flex justify-content-between">
                          <span>Subtotal</span>
                          <span>{{total | currency:'BRL'}}</span>
                      </div>
                      <div class="d-flex justify-content-between">
                          <span>Taxa de Entrega</span>
                          <span *ngIf="deliveryFee > 0 ;else deliveryFree ">{{deliveryFee | currency:'BRL'}}</span>
                          <ng-template #deliveryFree><span class="text-success">GRÁTIS</span></ng-template>
                      </div>
                      <div *ngIf="couponDiscount" class="d-flex justify-content-between">
                          <span>Desconto Cupom</span>
                          <span class="text-danger"><s>{{couponDiscount | currency: 'BRL'}}</s></span>
                      </div>
                  </div>
            </div>
            <div class="confirm-order position-fixed bottom-0 mb-4 d-block">
                <hr class="mt-0">
                <div class="d-flex justify-content-between fw-bolder mb-1 mx-4">
                    <span>Total</span>
                    <span class="">{{total + +deliveryFee - couponDiscount| currency: 'BRL'}}</span>
                </div>
                <button class="btn btn-primary btn-lg mx-auto w-100" (click)="confirmOrder()"> Confirmar pedido </button>
            </div>
        </div>
      </div>
</aside>

<ng-template #cartEmpty>
    <div class="offcanvas offcanvas-end" [ngClass]="show" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header justify-content-start">
          <h5 id="offcanvasRightLabel"></h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" (click)="close()"></button>
        </div>
        <div class="ordered-items offcanvas-body mb-3 mx-3">
            <p>{{msg}}</p>
            <button *ngIf="errTemplate">Reload</button>
        </div>
      </div>
</ng-template>