<main>
    <div class="login d-flex align-items-center justify-content-center row">
        <div>
            <i class="fa-solid fa-xmark fs-2 position-absolute" (click)="this.router.navigate([''])"></i>
        </div>
        <div class="title mt-5 pt-4">
            <h1 class="h2 text-center">
                Falta pouco para matar sua fome!
            </h1>
                <!-- <h5 class="mt-4 py-2 text-center">
                    Como deseja continuar?
                </h5> -->
        </div>
        <div class="body d-flex justify-content-center mb-5">
            <form class="mx-4" #loginForm ="ngForm" (ngSubmit)="login(loginForm.value)">
              <div class="form-floating my-3">
                <input type="text" class="form-control px-4" [(ngModel)]="user.username" name="street" placeholder=" ">
                <label for="floatingInput" class="px-4">E-mail</label>
              </div>
              <div class="form-floating mb-4">
                <input type="password" class="form-control px-4" [(ngModel)]="user.password" name="number" placeholder=" ">
                <label for="floatingInput" class="px-4">Senha</label>
              </div>
                  <button type="submit" class="btn primary-color d-block mx-auto">
                    <span class="fs-5">
                        Entrar
                    </span> 
                </button>
                <div class="my-4 text-center register" (click)="register()">
                    Novo por aqui?<span class="mx-2">
                        Cadastre-se
                    </span>
                </div>
            </form>
        </div>    
    </div>
</main>